<div id="<%= dom_id user %>">
  <p>
    <strong>ID:</strong>
    <%= user.id %>
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastname %>
  </p>

</div>
